::-webkit-scrollbar {
  width: 8px;
  background: white;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
  background: white;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background: white;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

body {
  color: white;
  background-image: url("/images/fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

#logo_block {
  padding: 7px;
  background: #6464c8;
  border: 1px solid white;
}

#new_advert_block {
  padding: 7px;
  background: #c86464;
  border: 2px solid white;
  border-radius: 8px;
}

