::-webkit-scrollbar {
  width: 8px;
  background: white;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
  background: white;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-thumb:active {
  background: white;
}

body {
  background-image: url("/images/fon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  margin: 0;
  padding: 0;
}

