input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: white;
  border: 1px solid grey;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #505050;
}

::-webkit-scrollbar:horizontal {
  height: 7px;
  background: #505050;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 7px;
  background: #505050;
}

::-webkit-input-placeholder {
  color: #323232;
  text-align: center;
  font-weight: normal;
}

:-moz-placeholder {
  color: #323232;
  text-align: center;
  font-weight: normal;
}

::-moz-placeholder {
  color: #323232;
  text-align: center;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: #323232;
  text-align: center;
  font-weight: normal;
}

html {
  color: white;
}

body {
  color: black;
  background: #fcfcfc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

#navbar-brand-text {
  letter-spacing: 4px;
  font-weight: bold;
  color: #646464;
}

.mycontainer {
  width: 1000px;
}

.shadow_text {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 #323232, 1px -1px 0 #323232, -1px 1px 0 #323232, 1px 1px 0 #323232;
}

.margin-auto {
  margin: auto;
}

.grey {
  color: #5a5a5a;
}

.close_button {
  text-align: right;
  position: relative;
  right: 5px;
  top: 5px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.close_button:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

@media screen and (max-width: 9000px) {
  .container1 {
    width: 1280px;
  }
}

@media screen and (max-width: 1280px) {
  .container1 {
    width: 100%;
  }
}

@media screen and (max-width: 1224px) {
  .container1 {
    width: 100%;
  }
}

@media screen and (max-width: 1224px) and (max-width: 960px) {
  .mycontainer {
    width: 100%;
  }

  /*.page-link {
  font-size:10px;
}*/
}

