.row {
  border: 1px solid #e6e6e6;
}

.row:hover {
  background: whitesmoke;
}

.col-title {
  border: 1px solid #e6e6e6;
  padding: 4px;
  word-wrap: break-word;
}

.col-status {
  border: 1px solid #e6e6e6;
  padding: 4px;
  margin: 0px;
  word-wrap: break-word;
}

.col-action {
  border: 1px solid #e6e6e6;
  padding: 16px;
  margin: 0px;
  word-wrap: break-word;
}

/*#title {
    margin:0px;    
}*/

/*#status {}*/

@media screen and (min-width: 800px) {
  .btn {
    width: 100%;
  }
}

