h5 {
  color: #646464;
}

h6 {
  color: #323232;
}

p {
  letter-spacing: 1px;
  color: #323232;
  font-size: 16px;
}

#price {
  font-size: 26px;
  font-weight: 700;
}

.mycontainer {
  margin-top: 5px;
}

.row {
  border: 1px solid #c8c8c8;
}

.row:hover {
  background: whitesmoke;
}

.col-title {
  border: 1px solid #e6e6e6;
  padding-right: 4px;
  word-wrap: break-word;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
}

.col-status {
  border: 1px solid #e6e6e6;
  padding: 4px;
  margin: 0px;
  word-wrap: break-word;
}

.col-action {
  border: 1px solid #e6e6e6;
  padding: 16px;
  margin: 0px;
  word-wrap: break-word;
}

@media screen and (min-width: 800px) {
  .btn {
    width: 100%;
  }
}

