@charset "UTF-8";

.number_input {
  width: 120px;
  margin: auto;
}

.phone_input {
  width: 230px;
  display: inline-block;
  margin: 3px auto;
}

.create_advert_col {
  text-align: left;
  margin: auto;
  color: black;
  background: white;
}

.image {
  width: 80px;
  height: 80px;
  margin: 1px;
}

.custom-file-input:lang(ru) ~ .custom-file-label::after {
  background: #6eb46e;
  color: white;
  content: "\434\43E\431\430\432\438\442\44C   \444\43E\442\43E";
}

.title_text {
  font-size: 130%;
  color: #505050;
}

#advert_loading_block {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.8;
  background: black;
  text-align: center;
  display: none;
}

