h1 {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.close_button {
  position: relative;
  top: 13px;
  left: 96%;
}

.close_button:hover {
  color: black;
}

.card {
  width: 90%;
}

.block-info-area {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  word-break: break-all;
}

@media screen and (max-width: 960px) {
  .card {
    width: 100%;
  }

  .block-info-area {
    width: 53%;
  }
}

/*@media screen and (min-width:500px) {  
  .card {
    width:100%;
  }

  .block-info-area {
    width:300px;
  }

}*/

/*@media screen and (max-width:960px) {  
  .block-info-area {
    background: yellow;
    width:200px;
  }

}*/

