$shadow_text_color: rgb(60,60,60);

::-webkit-scrollbar{
 width: 5px;
 background: white;
}
::-webkit-scrollbar:horizontal{
 height: 7px;
 background: white;
}
::-webkit-scrollbar-thumb{
 width: 5px;
 background: white;
 border: 1px solid grey;
}
::-webkit-scrollbar-thumb:horizontal{
 height: 8px;
 background: white;
}
::-webkit-scrollbar-thumb:hover{
 background: white;
}
::-webkit-scrollbar-thumb:active{
 background: white;
}
::-webkit-input-placeholder {
 text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
 text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
 text-align: center;
}
:-ms-input-placeholder {
 text-align: center;
}

html {
  color:white;
}

body {
 /*font-family: Arial !important;*/
 color:white;
 background-image: url('/images/site/fon.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}

.auth_button {
  padding: 1px;
  background: rgb(100,200,100);
  border: 1px solid white;
  width: 105px;
  border-radius: 5px;
  margin: 7px auto;
  cursor:pointer;
  display: inline-block;
}

.auth_button:hover {
  background: rgb(120,220,120);
}

#logo_block {
  padding:7px;
  background: rgb(100,100,200);
  border: 1px solid white;
  border-radius:8px;
  cursor:default;
}

#button_search {
  margin:4px;
  padding:10px;
  background:rgb(100,100,200);
  color:white;
  letter-spacing:2px;
  font-weight:bold;
  font-size:18px;
  border:1px solid white;
  border-radius:5px
}

#button_search:hover {
  background:rgb(120,120,220);
  text-decoration: underline;
}

#new_advert_block {
  padding:16px;
  background: rgb(200,100,100);
  border: 2px solid white;
  border-radius:8px;
  cursor:default;
  font-size: 22px;
}

#new_advert_block:hover {
  background: rgb(220,120,120);
}

.category_item {
  margin: 5px auto;
  border: 1px solid rgb(230,230,230);
  border-radius: 7px;
  padding: 5px;
  text-align:center;
  font-size:17px;
  width:240px;
  background: rgb(115,115,115);
  opacity:0.95;
  cursor:pointer;
}
.category_item:hover {
 background: rgb(140,140,140);
}

.standart_input {
  margin:5px;
  padding:5px;
  background:white;
  color:black;
  font-size:16px;
  border:1px solid white;
  border-radius:5px;
  text-align:center;
  display:block;
}

.item {
  background:white;
  color:black;
  margin-top:-2px;
  height:170px;
  border:1px solid grey;
  border-radius:3px;
  width:100%;
}

.shadow_text {
 color: #fff;
 letter-spacing: 3px;
 text-shadow:   
 -1px -1px 0 $shadow_text_color, 
 1px -1px 0 $shadow_text_color,
 -1px 1px 0 $shadow_text_color, 
 1px 1px 0 $shadow_text_color
}

.result_info_col {
  text-align:left;
  margin:auto;
  margin-top:5px;
  color:grey;
}

.vip_block {
  position:absolute; 
  left:83%;
  top:120px;
  width:16%;
}

.close_button {
  font-size: 105%;
  margin-left:98.5%;
  margin-top:7px;
  cursor:pointer;
}

.close_button:hover {
  text-decoration: underline;
}

#addit_info {
  background:rgb(245,245,245);
}

@media screen and (max-width:450px) {
  .result_info_col {
  text-align:center;
}

.vip_block {
  display:none;
}

#addit_info {
  width:100%;
}

}