// -------- константы --------
$my_grey: rgb(100,100,100);

// ***************************
::-webkit-scrollbar{
 width: 8px;
 background: white;
}
::-webkit-scrollbar:horizontal{
 height: 7px;
 background: white;
}
::-webkit-scrollbar-thumb{
 width: 8px;
 background: white;
 border: 1px solid black;
 border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal{
 height: 8px;
 background: white;
}
::-webkit-scrollbar-thumb:hover{
 background: white;
}
::-webkit-scrollbar-thumb:active{
 background: white;
}

body {
  margin:0;
  padding:0;
}
