$shadow_text_color: rgb(90,90,90);

::-webkit-scrollbar{
 width: 5px;
 background: white;
}
::-webkit-scrollbar:horizontal{
 height: 7px;
 background: white;
}
::-webkit-scrollbar-thumb{
 width: 5px;
 background: white;
 border: 1px solid grey;
}
::-webkit-scrollbar-thumb:horizontal{
 height: 8px;
 background: white;
}
::-webkit-scrollbar-thumb:hover{
 background: white;
}
::-webkit-scrollbar-thumb:active{
 background: white;
}
::-webkit-input-placeholder {
 text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
 text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
 text-align: center;
}
:-ms-input-placeholder {
 text-align: center;
}

html {
  color:white;
}

body {
 /*font-family: Arial !important;*/
 color:white;
 background-image: url('/images/site/fon.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}

#welcome_menu {
  text-align:right;
}

.auth_button {
  padding: 3px;
  background: rgb(90,190,90);
  border: 1px solid white;
  width: 110px;
  border-radius: 3px;
  margin-top: 5px auto;
  cursor:pointer;
  display: inline-block;
  font-size: 16px;
}

.auth_button:hover {
  background: rgb(110,210,110);
}

#location {
  width:250px;
  margin-top:1px;
}

#logo_block {
  padding:10px;
  background: rgb(100,100,200);
  border: 1px solid white;
  border-radius:8px;
  cursor:default;
}

#button_search {
  margin:4px;
  padding:10px;
  background:rgb(100,100,200);
  color:white;
  letter-spacing:2px;
  font-weight:bold;
  font-size:18px;
  border:1px solid white;
  border-radius:5px
}

#button_search:hover {
  background:rgb(120,120,220);
}

#new_advert_block {
  padding:12px;
  background: rgb(200,100,100);
  border: 2px solid white;
  border-radius:8px;
  cursor:default;
  font-size: 24px;
  margin-right: 8px;
  margin-top: 7px;
}

#new_advert_block:hover {
  background: rgb(220,120,120);
}

#search_string {
  text-align:center;
  margin-top:21px;
  font-size:18px;
  padding:4px;
  width:84%;
  border:1px solid grey;
  border-radius:3px;
  color:rgb(50,50,50);
}

.title_text {
  font-size: 32px;
  color: rgb(120,120,120);
}

.category_item {
  margin: 5px auto;
  border: 1px solid rgb(230,230,230);
  border-radius: 5px;
  padding: 5px;
  text-align:left;
  padding-left: 12px;
  font-size:20px;
  width:240px;
  background: rgb(115,115,115);
  opacity:0.95;
  cursor:pointer;
}
.category_item:hover {
 background: rgb(140,140,140);
}

.standart_input {
  margin:5px;
  padding:5px;
  background:white;
  color:black;
  font-size:16px;
  border:1px solid white;
  border-radius:5px;
  text-align:center;
  display:block;
}

.item {
  background:white;
  color:black;
  margin-top:0px;
  height:130px;
  border:1px solid grey;
  border-radius:3px;
  width:100%;
}

.shadow_text {
 color: #fff;
 letter-spacing: 3px;
 text-shadow:   
 -1px -1px 0 $shadow_text_color, 
 1px -1px 0 $shadow_text_color,
 -1px 1px 0 $shadow_text_color, 
 1px 1px 0 $shadow_text_color
}

.result_info_col {
  text-align:center;
  margin:auto;
  margin-top:5px;
  color:grey;
}

.vip_block {
  position:absolute; 
  left:83%;
  top:120px;
  width:16%;
}

.close_button {
  font-size: 107%;
  position:absolute;
  top:15px;
  left:93%;
  cursor:pointer;
  font-weight: 480;
  color:rgb(100,100,160);
}

.close_button:hover {
  font-weight: bold;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    background: rgb(100,200,100);
    color:white;
    content: "добавить фото";
}

a {
    color: white;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}

#addit_info {
  /*background:rgb(250,250,250);*/
}

#categories_row {
  margin-top:30px;
}

@media screen and (max-width:990px) {
#new_advert_block {
  margin-right: 0px;
  padding: 10px;
  margin-top: 0px;
}

#logo_block {
  margin-top: 7px;
}

#search_string {
  margin-top:7px;
}

#categories_row {
   margin-top:5px;
}
}

@media screen and (max-width:750px) {

body {
 background-image: url('/images/site/fon_750px.jpg');
}

#search_string {
  width:100%;
}

.vip_block {
  display:none;
}
}

@media screen and (max-width:420px) {

#welcome_menu {
  text-align:center;
}

#location {
  margin-top: 2px;
}

.result_info_col {
  text-align:center;
}

#addit_info {
  width:100%;
}

}