$background: rgb(252, 252, 252);
$inputPlaceHolder: rgb(50,50,50);
$shadow_text_color: rgb(50, 50, 50);
$scroll_bar_back_color: rgb(80, 80, 80);
$scroll_bar_width: 8px;
 
 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
 
 input[type="number"] {
   -moz-appearance: textfield;
 }
 
 ::-webkit-scrollbar-thumb{
   width: $scroll_bar_width;
   background:white;
   border: 1px solid grey;
   border-radius: 2px;
 }
 
 ::-webkit-scrollbar{
  width: $scroll_bar_width;
  background: $scroll_bar_back_color;
 }
 
 ::-webkit-scrollbar:horizontal{
  height: 7px;
  background: $scroll_bar_back_color;
 }
 
 ::-webkit-scrollbar-thumb:horizontal{
  height: 7px;
  background: $scroll_bar_back_color;
 }
 
 ::-webkit-input-placeholder {
  color:$inputPlaceHolder;
  text-align:center;
  font-weight:normal;
 }
 
 :-moz-placeholder {
  color:$inputPlaceHolder;
  text-align:center;
  font-weight:normal;
 }
 
 ::-moz-placeholder {
  color:$inputPlaceHolder;
  text-align:center;
  font-weight:normal;
 }
 
 :-ms-input-placeholder {
  color:$inputPlaceHolder;
  text-align:center;
  font-weight:normal;
 }

html {
  color:white;
}

/*body {
 color:black;
 background: $background;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover; 
}*/

/*body {
  background-image: url("/public/images/background/150x150.jpg");
  background-repeat: repeat;  
}*/

#navbar-brand-text {
  letter-spacing:4px;
  font-weight:bold;
  color:rgb(100,100,100);
}

.nav-link {  
  font-weight: 400;
  letter-spacing: 2px;
}

.mycontainer {
  width: 1000px;
}

.shadow_text {
  color: #fff;
  letter-spacing: 2px;
  text-shadow:   
  -1px -1px 0 $shadow_text_color, 
  1px -1px 0 $shadow_text_color,
  -1px 1px 0 $shadow_text_color, 
  1px 1px 0 $shadow_text_color
 }

.margin-auto {
  margin:auto;
}

.grey {
  color: rgb(90,90,90)
}

.label-torg {  
  position:absolute;  
  width:130px;
  text-align:center;  
  font-size:14px;
  color:white;
  background:red;  
  border-radius: 5px;  
}

.green-background  {  
  background:rgb(190,255,190);
}

.green-background a {    
  color: white;  
}

.close-link {
  font-size:15px;
  font-weight: 600;
  //color:rgb(80,80,80);
  color:black;
  letter-spacing:1px;
  text-decoration: underline;
  margin-top:-21px;
  cursor:pointer;      
}

.close-link:hover {
  color:rgb(100,100,100);
  text-decoration: underline;  
}

.full-width {
  width: 100%;
}

/*input:focus {
  border: none !important;
  background: yellow;
}*/

// --------------------------------------------
// Большие мониторы
// --------------------------------------------
@media screen and (max-width:9000px) {
.container1 {
  width: 1280px;
}   
}

@media screen and (max-width:1630px) {
  .index-side-advert {    
    display: none;
  }
}

@media screen and (max-width:1280px) {
.container1 {
   width: 100%;
}   
}

@media screen and (max-width:1224px) {
.container1 {
  width: 100%;
}

@media screen and (max-width:960px) {
.mycontainer {
  width: 100%;
}

}

}