h1 {  
  margin-top:5px;
  font-size: 110%;  
  letter-spacing: 2px; 
  font-weight: 700;  
}

.row {
  word-wrap: break-word; 
}

.close_button {  
  position:relative;  
  top:13px;
  left:96%; 
  width:19px;  
}

.mycontainer {
  border: 1px solid rgb(230,230,230);
  border-radius: 7px;  
}

#posted {  
  font-size:13px;
  margin-top:-14px;  
}

#posted span {    
  padding:2px;  
  color: black;
  letter-spacing:1px;  
}

#location {  
  font-size:15px;  
  letter-spacing: 1px;  
  font-weight: 600;
  color:rgb(30,30,30);  
}

#text {
  margin-top: 2px;
  font-size: 16px;  
}

#price { 
  letter-spacing: 2px;   
  background: rgb(220,255,220);
  color:black;  
  border: 1px solid rgb(150,255,150);  
  font-size:18px;
  font-weight: 500;
  padding:2px;  
  padding-left: 10px;  
  padding-right: 5px;
  float:right;
  text-align:right;
}

#numberButton {  
  margin:auto;
}

#phone-number {  
  display: none;  
  margin-top:10px;  
  font-size: 18px;  
  color:black;
  text-align: center;    
  letter-spacing: 2px;
}

#phone-number a {
  color: rgb(50,50,50);
}

#map {
  width:100%;
  height:300px;  
  margin-bottom:15px;
  margin-top:20px;
  border:1px solid rgb(200,200,200);
}

@media screen and (max-width:960px) {
  #price {
    font-size:15px;
  }
}