h1 {  
  margin-top: 2px;
  font-size: 130%;  
  color: rgb(60,60,60);
  letter-spacing: 2px; 
  font-weight: bold;
}

.row {
  word-wrap: break-word; 
}

.mycontainer {
  border: 1px solid rgb(230,230,230);
  border-radius: 7px;
}

#location {
  color:rgb(50,50,50);
  font-size:16px;  
}

#text {
  margin-top: 2px;
  font-size: 16px;  
}

#price {
  font-size: 20px;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
}

#showNumberBtn {
  margin-top:15px;
}

#phone-number {
  display: none;
  margin-top: 15px;
  font-size: 18px;    
  text-align: center;  
  padding: 5px;
  letter-spacing: 2px;
}

#phone-number a {
  color: rgb(50,50,50);
}

#map {
  width:100%;
  height:300px;  
  margin-bottom:15px;
  margin-top:20px;
  border:1px solid rgb(200,200,200);
}