h5 {
    color: rgb(100,100,100);    
}

h6 {
    color: rgb(50,50,50);    
}

p {
    letter-spacing: 1px;
    color:rgb(50,50,50);
    font-size: 16px;
}

#price {
    font-size: 26px;    
    font-weight: 700;
}

.mycontainer {
    margin-top: 5px;
}

.row {
    border: 1px solid rgb(200,200,200);    
}

.row:hover {
    background:rgb(245,245,245);
}

.col-title {
    border:1px solid rgb(230,230,230);
    padding-right:4px;
    word-wrap: break-word; 
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;    
}

.col-status {
    border:1px solid rgb(230,230,230);
    padding:4px;
    margin:0px;
    word-wrap: break-word;
}

.col-action {
    border:1px solid rgb(230,230,230);
    padding:16px;
    margin:0px;
    word-wrap: break-word;
}

@media screen and (min-width:800px) { 
    .btn {
        width:100%;
    }
}
