.row {
    border: 1px solid rgb(220,220,220);    
}

.row:hover {
    background:rgb(245,245,245);
}

.col-title {
    border:1px solid rgb(230,230,230);
    padding:4px;
    word-wrap: break-word; 
    letter-spacing: 1px;
}

.col-status {
    border:1px solid rgb(230,230,230);
    padding:4px;
    margin:0px;
    word-wrap: break-word;
}

.col-action {
    border:1px solid rgb(230,230,230);
    padding:16px;
    margin:0px;
    word-wrap: break-word;
}

@media screen and (min-width:800px) { 
    .btn {
        width:100%;
    }
}
