$logo_block_text_color: rgb(105,105,105);
$logo_block_description_color: rgb(100,100,100);
$logo_block_description_fontsize: 13px;

/*@font-face {
  font-family: "BAUHS93";
  src: url(/fonts/BAUHS93.TTF) format("truetype");
  font-weight: bold;
}*/

//$background: rgb(255, 255, 255);
//$logo_block_text_color: rgb(0,0,0);
//$logo_block_description_color: rgb(0,0,0);

/*body {
  color:white;
  background: $background;
  background-image: url('/images/fon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
 }*/

#navbar_menu {
  display: none;  
}

#select_location_mobile{
  margin-top:5px;
  display:none;
}

#index_page a {
  color: white;
}

// visited link 
a:visited {
  color: white;
}

// mouse over link
a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 100%;
}

.hide {
  display: none;
}

.black {
  color: black !important;
}

.grey {
  color: rgb(80,80,80) !important;
}

.blue {
  color: blue !important;
}

.green {
  color: green !important;
}

.bold {
  font-weight: bold !important;
}

.center {
  text-align: center !important;
}

.block {
  display: block;
}

.card-title-text {
  padding:3px;
  height:115px;
  white-space:initial;
  overflow:hidden;
  text-overflow:ellipsis;
  letter-spacing:1px;
  font-size:14px;  
}

.card-location-text {
  letter-spacing: 1px;
  white-space:initial;
  overflow:hidden;  
  text-overflow:ellipsis;  
  font-size:12px;
  height:70px;
  color:green;  
}

.card-price-value {  
  margin: 4px 4px 10px;
}

.subcategory { 
  font-size:16px !important;
  //text-align:center !important;
  margin:auto;
}

.titleAdverts {
  font-size:24px;
  font-weight:300;
  //color:rgb(70,70,70);
  color:black;
  //text-decoration:underline;
  letter-spacing: 2px;
}

#subcats {
  display:none;
}

#welcome_menu {
  text-align:right;
}

#results_close_button {
  width:26px;  
  color:white;
  border:1px solid white;
  border-radius:5px;
  padding:6px;
  background:rgb(100,100,200);
  font-size:17px;  
  margin-top:-12px;
}

#results_close_button:hover {
  background:rgb(120,120,220);
}

.alert {
  margin: 5px auto;
  width:430px;
  margin-bottom:-53px;
}

.index-card {
  width:220px;
  height:365px;
  margin:auto;
}

.button {
  background: rgb(90,190,90);
  border: 1px solid white;
  border-radius: 5px;  
  display: inline-block;
  font-size: 16px;
  padding-left:12px;
  padding-right:12px;
  padding-bottom:1px;
  cursor:pointer; 
}

.button:hover {
  background: rgb(110,210,110);
}

#location {
  width:250px;
  margin-top:1px;
}

#loaderForSearchPlace {
  display: none;
}

#subcategories {
  margin-top:-15px;
}

#logo_block {
  padding:5px;
  border-radius:8px;
  cursor:default;  
}

#logo_block_text {  
  font-size:170%;
  letter-spacing:6px;
  padding:7px;  
  font-weight: 700;
  color: $logo_block_text_color;
  text-transform: uppercase;
  //font-family: "BAUHS93";
}

#logo_block_description {
  font-size: $logo_block_description_fontsize;
  color: $logo_block_description_color;
  margin-top: -10px;
  letter-spacing: 3px;
}

#categories_line {  
  margin-top:-30px;
  //display:none;
}

#close_subcats_btn {
  margin-bottom: 20px;
  margin-top: -30px;  
  font-size:15px;
  letter-spacing: 1px;
  color:rgb(100,100,100);
  font-weight:bold;
}

#navbrand-title {
  font-size:20px;
  font-weight:700;
  letter-spacing:5px;
  color:rgb(90,90,90);
  text-transform: uppercase; 
}

#navbrand-description {
  font-size: 12px;
  margin-top: -9px;
  font-weight: 400;
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 18px rgba(0,0,0,0.3); /* Параметры тени */
}

.form {
  text-align:left;
  margin: 60px auto;
  color:black;
  background:white;
}

.search_options_button {
  color:white;
  padding:1px 10px; 
  background:rgb(100,100,140);
  font-size:15px;
}

.index_select_region_and_other_button_block {
  margin-top:0px;
}

.form_title {
  text-align:center;
  margin-top:10px;
  color:grey;
  font-weight:550;
}

.category_item {  
  color: rgb(50,50,50);  
  font-size: 16px;
  letter-spacing: 2px;
  padding: 9px;
  text-align:center;
  width: 250px;
  border: 1px solid rgb(220,220,220);  
  border-radius: 5px;
  margin: 2px auto;  
  background: rgb(255,255,255);  
}

.category_item:hover {
 background: rgb(100,100,200);
 color:white; 
}

.standart_input {
  margin:5px;
  padding:5px;
  background:white;
  color:black;
  font-size:16px;
  border:1px solid white;
  border-radius:5px;
  text-align:center;
  display:block;
}

.item-content {
  position:relative;
  top:-113px;
  left:129px;
  overflow:hidden;
  width:55%;
}

.link:hover {
  text-decoration:underline;
  cursor:default;
}

.vip_block {
  position:absolute; 
  left:83%;
  top:120px;
  width:16%;
}

.last-advert-card {
  width: 18rem;
  margin:auto;
}

.underline_link:hover {
  text-decoration: underline;
}

#button_search {
  margin:4px;
  padding:8px;
  background:rgb(100,100,200);
  color:white;
  letter-spacing:2px;
  font-size:16px;
  border:1px solid white;
  border-radius:5px
}

#button_search:hover {
  background:rgb(120,120,220);
}

#new_advert_block {
  cursor:default;
  padding:10px;
  background: rgb(200,100,100);
  border-radius:8px;
  font-size: 20px;  
  letter-spacing: 1px;
  margin-right: 8px;
  margin-top: 8px;
  width:90%;
}

#new_advert_block:hover {
  background: rgb(220,120,120);
}

#search_string {
  border-radius: 3px;
  text-align:left;
  margin-top:21px;
  font-size:16px;
  padding:3px;
  width:80%;
  border:1px solid rgb(200, 200, 200);
  color:rgb(50,50,50);
}

#footer {
  margin:auto;
  margin-top:5px;
  font-weight:500;
  padding:5px;
  background:rgb(60,60,110);
  opacity:0.7;
  font-size:15px;
  width:100%;
  margin-bottom:-5px;
  text-align:center;
}

#categories_title {
  font-size: 110%;
  margin-top:35px;
  margin-left: 30px;
}

// --------------------------------------------
// Большие мониторы
// --------------------------------------------
@media screen and (max-width:9000px) {
  
#mobile_new_advert_link {
  display:none;    
}
  
.create_advert_col {
  border-radius: 5px;
}

.alert {
  margin: 5px auto;
  width: 430px;
  margin-bottom:-53px;
}

}

@media screen and (max-width:1280px) {

#close_subcats_btn {
  margin-top: -10px;
}

}

@media screen and (max-width:1224px) {

#new_advert_block {
  font-size:10px;
}

// --- скрываю всё лишнее на мобильных устройствах --

#select_location_mobile {
  display:block;
}
  
#select_location_desktop {
  display:none;
}
  
#welcome_menu {
  display: none;
}

#logo_block {
  display: none;
}
  
#navbar_menu {
  display: block;
}
  
#new_advert_col {
  display: none;
}

#login_register_col {
  display:none;
}

}

// --------------------------------------------
// IPAD'ы PRO
// --------------------------------------------
@media screen and (max-width:1024px) {


#welcome_menu {
  margin-top:3px;
}

#new_advert_block {
  font-size: 20px;
}

#search_string {
  width:385px;
}

#logo_block_text {
 font-size: 25px;
}

.category_item {
  width:260px;  
}

}

// --------------------------------------------
// Большие устройства
// --------------------------------------------
@media screen and (max-width:960px) {

#mobile_new_advert_link {    
    display:block;    
    margin-top:-10px;
    margin-bottom:10px;
}    

#button_search {
  padding:8px;
  font-size:18px;
}

.alert {
  width:100%;
  margin-bottom:5px;
}

#new_advert_block {
  margin-right: 0px;
  padding: 10px;
  margin-top: 0px;
}

#logo_block {
  margin-top: 7px;
}

#search_string {
  margin-top:7px;
}

#categories_title {
   margin-top:5px;
}

}

// --------------------------------------------
// IPAD'ы
// --------------------------------------------
@media screen and (max-width:768px) {

#search_string {
  width:90%;
}

#index_select_region_and_other_button_block {
  margin-top:0px;
}

.vip_block {
  display:none;
}

#categories_title {
  margin-left: 0px;
  text-align: center;
}

.create_advert_col {
 margin-top: 0px;
 border-radius: 0px;
}

}

// --------------------------------------------
// Cмартфоны
// --------------------------------------------
@media screen and (max-width:420px) {  

#button_search {   
  font-size:14px;    
}

.item {
  font-size:12px;
}

.image {
  width:50px; 
  height:50px;
}

.form {
  margin-top:0px;
}

#welcome_menu {
  text-align:center;
}

#location {
  margin-top: 2px;
}

.result_info_col {
  text-align:center;
}

#addit_info {
  width:100%;
}

}

// iphone 5
@media screen and (max-width:320px) {
.subcategory {
  //width:280px !important;
  font-size:15px !important;
}

}