
// ----------------------------------------------
// константы
// ----------------------------------------------
$inputPlaceHolder: rgb(50,50,50);
$background: rgb(250, 250, 250);
$shadow_text_color: rgb(50, 50, 50);
$scroll_bar_back_color: rgb(80, 80, 80);
$scroll_bar_width: 8px;

@font-face {
 font-family: "carefree";
 src: url("../fonts/carefree.ttf") format("truetype");
 font-weight: normal;
 //font-weight: bold;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  //text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  //text-align: center;
}

::-webkit-scrollbar-thumb{
  width: $scroll_bar_width;
  background:white;
  border: 1px solid grey;
  border-radius: 2px;
}

::-webkit-scrollbar{
 width: $scroll_bar_width;
 background: $scroll_bar_back_color;
}

::-webkit-scrollbar:horizontal{
 height: 7px;
 background: $scroll_bar_back_color;
}

::-webkit-scrollbar-thumb:horizontal{
 height: 7px;
 background: $scroll_bar_back_color;
}

::-webkit-input-placeholder {
 //text-align: center;
 color:$inputPlaceHolder;
}

:-moz-placeholder {
 //text-align: center;
 color:$inputPlaceHolder;
}

::-moz-placeholder {
 //text-align: center;
 color:$inputPlaceHolder;
}

:-ms-input-placeholder {
 //text-align: center;
 color:$inputPlaceHolder;
}

#navbar_menu {
  display: none;
}

html {
  color:white;
}

body {
 color:black;
 background: $background;
 //background-image: url('/images/site/fon.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
//display:none; 
}

#select_location_mobile{
  margin-top:5px;
  display:none;
}

#index_page a {
  color: white;
}


// visited link 
a:visited {
  color: white;
}

// mouse over link
a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 115%;
}

h3 {
  font-size: 100%;
}

.hide {
  display: none;
}

.black {
  color: black !important;
}

.grey {
  color: rgb(80,80,80) !important;
}

.blue {
  color: blue !important;
}

.green {
  color: green !important;
}

.bold {
  font-weight: bold !important;
}

.center {
  text-align: center !important;
}

.block {
  display: block;
}

.margin-auto {
  margin:auto;
}

.subcategory {
 // width:310px !important;
  font-size:17px !important;
  text-align:center !important;
  margin:auto;
  /*border:1px solid grey;*/

}

#subcats {
  display:none;
}

#welcome_menu {
  text-align:right;
}

#results_close_button {
  width:26px;  
  color:white;
  border:1px solid white;
  border-radius:5px;
  padding:6px;
  background:rgb(100,100,200);
  font-size:17px;  
  margin-top:-12px;
}

#results_close_button:hover {
  background:rgb(120,120,220);
}

.alert {
  margin: 5px auto;
  width:430px;
  margin-bottom:-53px;
}

.button {
  background: rgb(90,190,90);
  border: 1px solid white;
  border-radius: 3px;  
  display: inline-block;
  font-size: 16px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:1px;
  cursor:pointer; 
}

.button:hover {
  background: rgb(110,210,110);
}

#location {
  width:250px;
  margin-top:1px;
}

#subcategories {
  margin-top:-5px;
}

#logo_block {
  padding:5px;
  border-radius:8px;
  cursor:default;
  //border: 1px solid rgb(215,215,215);
  //border: 1px solid rgb(225,225,225);

}

#logo_block_text {
  font-family: "carefree";  
  font-size:290%;
  letter-spacing:10px;
  padding:7px;
  margin-top:-12px;
  font-weight: 700;
  color:rgb(95,95,95);
  //color:rgb(100,100,100);
  //color:rgb(60,60,60);
}

#categories_line {
  margin-top: -90px;
}

#close_subcats_btn {
  margin-bottom: 20px;
  margin-top: -10px;
  margin-left: 10px;
}

.form {
  text-align:left;
  margin: 60px auto;
  color:black;
  background:white;
}

.search_options_button {
  color:white;
  padding:1px 10px; 
  background:rgb(100,100,140);
  font-size:15px;
}

.index_select_region_and_other_button_block {
  margin-top:0px;
}

.phone_input {
  width: 230px;
  display:inline-block;
  margin: 3px auto;  
}

.number_input {
  width:120px;
  margin:auto;
}

.title_text {
  margin-top:10px;
  font-size: 130%;
  color: rgb(80,80,80);
}

.form_title {
  text-align:center;
  margin-top:10px;
  color:grey;
  font-weight:550;
}

.category_item {
  color:rgb(40,40,40);
  //background: rgb(255,255,255);
  font-size: 17px;
  padding: 5px;
  text-align:center;
  width: 260px;
  border: 1px solid rgb(230,230,230);  
  border-radius: 5px;
  margin: 1px auto;
  //margin:1px;
}

.category_item:hover {
 background: rgb(100,100,200);
 color:white;
}

.standart_input {
  margin:5px;
  padding:5px;
  background:white;
  color:black;
  font-size:16px;
  border:1px solid white;
  border-radius:5px;
  text-align:center;
  display:block;
}


.item-content {
  position:relative;
  top:-113px;
  left:129px;
  overflow:hidden;
  width:55%;
}

.image {
  width:80px; 
  height:80px;
  margin:2px; 

  
}

/*.link {
  margin:14px;
}*/

.link:hover {
  text-decoration:underline;
  cursor:default;
}

.shadow_text {
 color: #fff;
 letter-spacing: 2px;
 text-shadow:   
 -1px -1px 0 $shadow_text_color, 
 1px -1px 0 $shadow_text_color,
 -1px 1px 0 $shadow_text_color, 
 1px 1px 0 $shadow_text_color
}

.vip_block {
  position:absolute; 
  left:83%;
  top:120px;
  width:16%;
}

.close_button {
  position: absolute;
  top:17px;
  right:20px;
  cursor:pointer;
  font-weight: 700;
  color:rgb(80, 80, 80);
}

.custom-file-input:lang(ru)~.custom-file-label::after {
  /*background: rgb(100,200,100);*/
  background: rgb(120,120,120);
  color:white;
  content: "добавить фото";
}

.create_advert_col {
  text-align:left;
  margin: auto;
  color:black;
  background:white;
 }
 
.mycontainer_adv {
  width: 1000px;
}

.underline_link:hover {
  text-decoration: underline;
}

#button_search {
  margin:4px;
  padding:10px;
  background:rgb(100,100,200);
  color:white;
  letter-spacing:2px;
  font-weight:bold;
  font-size:18px;
  border:1px solid white;
  border-radius:5px
}

#button_search:hover {
  background:rgb(120,120,220);
}

#new_advert_block {
  padding:12px;
  background: rgb(200,100,100);
  border: 2px solid white;
  border-radius:10px;
  cursor:default;
  font-size: 24px;
  margin-right: 8px;
  margin-top: 7px;
}

#new_advert_block:hover {
  background: rgb(220,120,120);
}

#search_string {
  text-align:center;
  margin-top:21px;
  font-size:18px;
  padding:4px;
  width:82%;
  border:1px solid rgb(110, 110, 140);
  border-radius:3px;
  color:rgb(50,50,50);
}

#footer {
  margin:auto;
  margin-top:5px;
  font-weight:500;
  padding:5px;
  background:rgb(60,60,110);
  opacity:0.7;
  font-size:15px;
  width:100%;
  margin-bottom:-5px;
  text-align:center;
}

#categories_title {
  font-size: 110%;
  margin-top:35px;
  margin-left: 30px;
}

// --------------------------------------------
// Большие мониторы
// --------------------------------------------
@media screen and (max-width:9000px) {
  

.create_advert_col {
 border-radius: 5px;
}

.alert {
  margin: 5px auto;
  width: 430px;
  margin-bottom:-53px;
}

}

@media screen and (max-width:1280px) {
}

@media screen and (max-width:1224px) {

#new_advert_block {
  font-size:10px;
}

// --- скрываю всё лишнее на мобильных устройствах --
#select_location_mobile {
  display:block;
}
  
#select_location_desktop {
  display:none;
}
  
#welcome_menu {
  display: none;
}

#logo_block {
  display: none;
}
  
#navbar_menu {
  display: block;
}
  
#new_advert_col {
  display: none;
}

#login_register_col {
  display:none;
}

// ----------------------------------------------
}

// --------------------------------------------
// IPAD'ы PRO
// --------------------------------------------
@media screen and (max-width:1024px) {

#categories_line {
  margin-top:-95px;
}

#close_subcats_btn {
  margin-left: -5px;
}

#welcome_menu {
  margin-top:3px;
}

#new_advert_block {
  font-size: 20px;
}

#search_string {
  width:385px;
}

#logo_block_text {
 font-size: 25px;
}

.category_item {
  width:220px;
}

}

// --------------------------------------------
// Большие устройства
// --------------------------------------------
@media screen and (max-width:960px) {

#button_search {
  padding:8px;
  font-size:18px;
}

.mycontainer_adv {
  width: 100%;
}

.alert {
  width:100%;
  margin-bottom:5px;
}

#new_advert_block {
  margin-right: 0px;
  padding: 10px;
  margin-top: 0px;
}

#logo_block {
  margin-top: 7px;
}

#search_string {
  margin-top:7px;
}

#categories_title {
   margin-top:5px;
}

}

// --------------------------------------------
// IPAD'ы
// --------------------------------------------
@media screen and (max-width:768px) {

#search_string {
  width:90%;
}

#index_select_region_and_other_button_block {
  margin-top:0px;
}

.vip_block {
  display:none;
}

#categories_title {
  margin-left: 0px;
  text-align: center;
}

.create_advert_col {
 margin-top: 0px;
 border-radius: 0px;
}

}

// --------------------------------------------
// Cмартфоны
// --------------------------------------------
@media screen and (max-width:420px) {

.item {
  font-size:12px;
}

.image {
  width:50px; 
  height:50px;
}

.form {
  margin-top:0px;
}

.close_button {
 left:90%;
}

#welcome_menu {
  text-align:center;
}

#location {
  margin-top: 2px;
}

.result_info_col {
  text-align:center;
}

#addit_info {
  width:100%;
}

}

// iphone 5
@media screen and (max-width:320px) {
.subcategory {
  width:280px !important;
  font-size:15px !important;
}

}