.number_input {
  width:120px;
  margin:auto;
}

.phone_input {
  width: 230px;
  display:inline-block;
  margin: 3px auto;  
}

.create_advert_col {
  text-align:left;
  margin: auto;
  color:black;
  background:white;
 }

.image {
  width:80px; 
  height:80px;
  margin:1px;   
}

.custom-file-input:lang(ru)~.custom-file-label::after {
  background: rgb(110,180,110);  
  color:white;
  content: "добавить фото";
}

.title_text {  
  margin-top: -10px;  
  font-size: 130%;
  color: rgb(80,80,80);
}

// --------------------------------------------
// Большие устройства 
// --------------------------------------------
@media screen and (max-width:960px) {  
}

// --------------------------------------------
// Cмартфоны
// --------------------------------------------
@media screen and (max-width:420px) {  
}