h1 {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.close_button {
  position:relative;
  top:13px;
  left:96%;  
}

.close_button:hover {
  color:black;
}

.card {
  width:90%;
}

// --------------------------------------------
// Большие устройства 
// --------------------------------------------
@media screen and (max-width:960px) {  
  .card {
    width:100%;
  }
}