hr {
  margin:0;
}

h1 {
  margin-top:10px;
  font-size: 24px;  
  letter-spacing: 2px;
  width:90%;
}

.close_button {
  position:relative;
  top:13px;
  left:96%;  
}

.close_button:hover {
  color:black;
}

.card {
  width:100%;
  display: inline-block;
  margin-top:-1px;  
}

.card-title {
  margin:3px;  
  font-size:17px;  
  font-weight:600;    
  color:black;
  letter-spacing: 1px;  
}

.block-info-area {    
  width:830px;      
  display:inline-block; 
  word-break: normal; 
}

.price {  
  font-size:16px;
  letter-spacing: 2px;    
  background:rgb(220,255,220);  
  color:black;  
  border-radius: 3px;
  font-weight: 500;  
  margin:3px;
  padding-left: 10px;  
  padding-right: 5px;
  float:right;
}

.location {      
  font-size:15px;  
}

.item a {
  color: rgb(80,80,80);
}

#filters {
  margin-top:-30px;
}

.image {
  width:130px;
  height:130px;
  display:inline-block;
  vertical-align:top;
}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:960px) {  

  h1 {
    margin-top:10px;
    font-size:22px;
  }

  .block-info-area {   
    width:81%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:800px) {  

  .block-info-area {       
    width:79%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:768px) {  

  .block-info-area {   
    width:80%;    
  }

  .price {
    font-size:12px;  
  }
  
  .card-title {
    font-size:15px;  
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:720px) {  

  h1 {    
    font-size:19px;
  }

  .location {      
    font-size:12px;  
  }

  .block-info-area {   
    width:74%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:576px) {  

  .block-info-area {   
    width:65%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:414px) {  

  .block-info-area {       
    width:61%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:375px) {  

  .block-info-area {   
    width:59%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:360px) {  

  .block-info-area {   
    width:53%;    
  }

}

// --------------------------------------------
// 
// --------------------------------------------
@media screen and (max-width:320px) {  

  .block-info-area {   
//    background:grey;
    width:50%;    
  }

}
