
// ----------------------------------------------
// константы
// ----------------------------------------------
$inputPlaceHolder: rgb(50,50,50);
$background: rgb(230, 230, 230);
$shadow_text_color: rgb(50, 50, 50);
$scroll_bar_back_color: rgb(80, 80, 80);
$scroll_bar_width: 8px;

@font-face {
 font-family: "carefree";
 src: url("../fonts/carefree.ttf") format("truetype");
 font-weight: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-thumb{
  width: $scroll_bar_width;
  background:white;
  border: 1px solid grey;
  border-radius: 2px;
}

::-webkit-scrollbar{
 width: $scroll_bar_width;
 background: $scroll_bar_back_color;
}

::-webkit-scrollbar:horizontal{
 height: 7px;
 background: $scroll_bar_back_color;
}

::-webkit-scrollbar-thumb:horizontal{
 height: 7px;
 background: $scroll_bar_back_color;
}

::-webkit-input-placeholder {
 color:$inputPlaceHolder;
}

:-moz-placeholder {
 color:$inputPlaceHolder;
}

::-moz-placeholder {
 color:$inputPlaceHolder;
}

:-ms-input-placeholder {
 color:$inputPlaceHolder;
}

html {
  color:white;
}

body {
 color:black;
 background: $background;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
}

.item {
  cursor:pointer;
  background:white;
  color:black;
  height:140px;
  border:1px solid grey;
  width:100%;
  text-align:left;
  word-break: break-all;
  margin:1px;    
}

.item:hover {
  background: rgb(240,250,240);
}

